.popular{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px; 
    /* margin: 100px 170px;  
    */

}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;

}

  


.popular_item{
    margin-top: 50px;
     gap:30px;
    /* margin: 100px 100px; */
    display: flex;  

    
    
}



 /* .popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular_item {
    margin-top: 50px;
    display: flex;
    justify-content: center; /* Center items horizontally */
    /* gap: 30px;
    overflow-x: auto; */

/* .popular_item img {
    max-width: 100%; /* Ensure images don't exceed their original size */
    /* max-height: 200px; /* Set a maximum height for the images */
    /* object-fit: contain; /* Maintain aspect ratio while fitting within the specified dimensions */
    /* flex-shrink: 0;  */
/* }  */


